{% extends "layouts/base.njk" %}

{% block content %}

<div class="pad-the-contain dark">
    <div class="intro-text">
        <div class="head-title">
            <h1>Studying ___________ ?</h1>
            <h1>Don’t know what you want to do</h1>
        </div>
        <div class="head-sub-text">
            <h2>Explore and find a tech career that suits you.</h2>
        </div>
    </div>
    <div class="intro-challenges container">
        <div class="intro-challenges contained trio">
            <div class="intro-challenges trio img">
                <p>yo</p>
            </div>
            <div class="intro-challenges trio text">
                <p>People studying computer science, but don’t see themselves coding all day.</p>
            </div>
        </div>
        <div class="intro-challenges contained trio">
            <div class="intro-challenges trio img">
                <p>yo</p>
            </div>
            <div class="intro-challenges trio text">
                <p>Business students, but you don’t want to spend all day in financial spreadsheets.</p>
            </div>
        </div>
        <div class="intro-challenges contained trio">
            <div class="intro-challenges trio img">
                <p>yo</p>
            </div>
            <div class="intro-challenges trio text">
                <p>You want to build software, but don’t want to work for a tech giant?</p>
            </div>
        </div>
    </div>
    <div class="intro-body">
        <p>This website was made for those studying or interested in the technology/digital sector, but don’t know what job they would enjoy.</p>
        <p>We understand that there is a plethora of career options in the technology space, too little information and no clarity on where you fit.</p>
        <p>We will help point you to the right direction and find something that would suit you.</p>
    </div>
    <div class="intro-cta section container">
        <div class="intro-cta inline-content">
            <h4>I’m ready to explore potential tech careers.</h4>
        </div>
        <div class="intro-cta inline-content">
            <button class="cta">
                <h4>Click here to start.</h4>
            </button>
        </div>
    </div>
</div>
{% endblock %}
