{% extends 'layouts/base.njk' %}

{% block content %}
<div class="pad-the-contain light">
    <div class="intro-text">
        <div class="head-title">
            <h1>{{ title }}</h1>
            <h2>Explore all skills</h2>
        </div>
    </div>
</div>
<div class="the container bg-light">
    <div class="pad-the-contain light">
        <div class="results section container">
        <div class="results section main">
        {% for item in collections.careers %}
        <ul>
            <li>
                <a href="{{ item.url }}">
                    {{ item.data.title }}
                </a>
            </li>
        </ul>
        {% endfor %}
        um
        </div>
        <div class="results section small">    
            {% include "partials/components/spectrum.njk" %}
            {% include "partials/components/career-progression-timeline.njk" %}
        </div>
        </div>
    </div>
</div>

{% endblock %}
