<footer light>
    <div class="pad-the-contain">
        <p>This website was made by Sophia Huynh.</p>
        <p>Liked it? Helped you make your next career step? Buy me a coffee!</p>
        <p>Made with love in Melbourne, Australia.</p>
    </div>
</footer>