<header> 
    <div class="drop-menu top">
        <button class="drop-menu subtle dark fa fa-bars fa-2x">
        </button>
        <div class="drop-menu content">
            <a href="#">About</a>
            <a href="#">Skills</a>
            <a href="#">Careers</a>
        </ul>
      </ul>
    </div>
</header> 
