---
layout: lists
permalink: /skills/
title: Skills
eleventyNavigation:
  key: Skills
  order: 2
---

<h2>Explore all skillsets</h2>

{% set postslist = collections.skills %}
{% include "skilllist.njk" %}
