/* General */

html {
    background-color: #082C56;
}

body {
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
}

header {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
    font-weight: 500;
}

h3 {
    font-size: 2em;
    font-weight: 500;
}

h4 {
    font-size: 1.5em;
    font-weight: 500;
}

p {
    font-size: 1.2em;
}


.dark {
    color: white;
}

.light {
    color: #202020;
}


@media all and (max-width: 800px) {
    body {
        padding: 0%!important;
    }

    .homepage-container {
        padding-left: 7%!important;
        padding-right: 7%!important;
    }

    h1 {
        font-size: 3em;
    }
    
    h2 {
        font-size: 2em;
    }
}

@media all and (max-width: 500px) {

    h1 {
        font-size: 2em!important;
    }
    
    h2 {
        font-size: 1.5em!important;
    }

    p {
        font-size: 1em!important;
    }
}


/* Homepage */

.intro-text {
    margin-top: 1%;
}
.homepage-container {
    padding-left: 15%;
    padding-right: 15%;
}
.head-sub-text {
    margin-bottom: 2rem;
}

.intro-challenges.container {
    width: 100%;
    margin-bottom: 2rem;
}

.intro-challenges.trio {
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.intro-challenges.trio.img {
    width: 100%;
}

.intro-challenges.trio.text {
    width: 90%;
}

.intro-body {
    margin-bottom: 2rem;
}

.intro-cta.container {
    width: 100%;
    margin-bottom: 2rem;
}

.intro-cta.main {
    margin-right: 1em;
    display: inline-block;
}

.intro-cta.small {
    display: inline-block;
}

/* Media query */

@media all and (max-width: 800px) {

    .contained.trio {
        width: 100%;
    }
}

